body{
    background-color: #B7B7B7;
}
/*旋转*/
@keyframes spin{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
p{
    color: black;
}
#YinYang{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to bottom,
    #ffffff 0%,#ffffff 50%,#000000 51%,#000000 100%);
    position: relative;
    margin: 20px;
    animation-duration: 3s;
    animation-name:  spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#YinYang::before{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    background-color: white;
    border: 40px solid black;
}
#YinYang::after{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    left: 100px;
    background-color: black;
    border: 40px solid white;
}

